
.imgdiv {
    max-width: 100%;
    height: auto;
    background-image: url('images/mobilpymes.jpg');
    background-size: 100% 100%;
}
img {
    width: 100%;
    height: auto;
}
.marca-de-agua {
    background-image: url("images/logo-mobilpymes.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
    margin: auto;
}
.marca-de-agua img {
    padding: 0;
    width: 100%;
    height: auto;
    opacity: 0.7;
}
/* mejoras css*/
